.header {
  background-color: var(--gray-darker);
  color: white;
  box-shadow: var(--shadow-md);
  position: sticky;
  top: 0;
  z-index: 40; /* Higher than sidebar */
  height: var(--header-height);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  font-size: 1.25rem;
  font-weight: 700;
  cursor: pointer;
}

.desktopNav {
  display: none;
}

.navLink {
  margin: 0 1rem;
  transition: var(--transition-normal);
}

.navLink:hover {
  color: var(--primary-color);
}

.menuButton {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 50; /* Higher than header */
}

.menuButton span {
  width: 100%;
  height: 2px;
  background-color: white;
  display: block;
  transition: var(--transition-normal);
}

/* Media query for desktop */
@media (min-width: 768px) {
  .desktopNav {
    display: flex;
  }
}