.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  height: 100vh;
  width: var(--sidebar-width);
  background-color: rgba(17, 24, 39, 0.8); /* var(--gray-darker) with opacity */
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: var(--shadow-lg);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: var(--header-height);
    height: calc(100vh - var(--header-height));
    transform: translateX(-100%);
  }
  
  .sidebar.open {
    transform: translateX(0);
  }
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(179, 179, 179, 0.25);
  z-index: 20;
}

.sidebarContent {
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.sidebarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.sidebarTitle {
  color: white;
  font-size: 1.25rem;
  font-weight: 700;
}

.closeButton {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.closeButton:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.sidebarNav {
  flex: 1;
}

.navButton {
  width: 100%;
  text-align: left;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: var(--transition-normal);
  color: #f3f4f6; /* var(--gray-light) */
  margin-bottom: 0.5rem;
}

.navButton:hover {
  background-color: rgba(55, 65, 81, 0.7); /* Semi-transparent hover */
}

.navButton.active {
  background-color: var(--primary-color);
  color: white;
}

.sidebarFooter {
  margin-top: auto;
  padding-bottom: 1rem;
}

.copyright {
  width: 100%;
  padding: 0.5rem;
  font-size: 0.875rem;
  color: var(--gray-medium);
  text-align: center;
}

.copyright:hover {
  color: white;
}